<div class="bg-skew">
	<div class="container main-div">
		<div class="row main-heading-div">
			<h1>Resume <span>Generator</span></h1>
			<p>Here you can easily generate your resume within minutes</p>
		</div>
		<div class="row resume-list">
			<div class="col-md-4 resume-detail">
				<div class="resume-innerdetail work-details">
					<img src="assets/resume.png" width="100%" height="300px">
					<div class="work-content">
						<div class="work-content-inner">
							<a (click)="classic()">Generate</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 resume-detail">
				<div class="resume-innerdetail work-details">
					<img src="assets/resume.png" width="100%" height="300px">
					<div class="work-content">
						<div class="work-content-inner">
							<a (click)="lite()">Generate</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 resume-detail">
				<div class="resume-innerdetail work-details">
					<img src="assets/resume.png" width="100%" height="300px">
					<div class="work-content">
						<div class="work-content-inner">
							<a (click)="noob()">Generate</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer container">
	<div class="footer-detail">
		Here is the footer 
	</div>
</div>