<div class="bg-skew">
	<div class="container main-div">
		<div class="row main-heading-div">
			<h1>Resume<span>Coiner</span></h1>
			<p>Here you can easily generate your resume within minutes</p>
		</div>
		<div class="row resume-list">
			<div class="col-md-4 resume-detail">
				<div class="resume-innerdetail work-details">
					<img src="assets/resume.png" width="100%" height="300px">
					<div class="work-content">
						<div class="work-content-inner">
							<a (click)="classic()">Generate(Classic)</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 resume-detail">
				<div class="resume-innerdetail work-details">
					<img src="assets/resume.png" width="100%" height="300px">
					<div class="work-content">
						<div class="work-content-inner">
							<a (click)="lite()">Generate(Lite)</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 resume-detail">
				<div class="resume-innerdetail work-details">
					<img src="assets/resume.png" width="100%" height="300px">
					<div class="work-content">
						<div class="work-content-inner">
							<a (click)="noob()">Generate(Noob)</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer container">
	<a href="assets/demo.pdf">>>Download Demo Resume Here!!<<</a>
	<div class="footer-detail">
		Made With <i style="color:red;font-size:26px;line-height:36px;" class="fas fa-heart"></i>By Rahul & Yashwant
	</div>
</div>